body {
    margin-top: 100px;
    background-color: grey;
    object-fit: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tareas-container {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
}

.tareas {
    width: 100%;
    padding: 0;
    list-style: none;
}

.tarea-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.tarea-item i {
    margin-right: 10px;
    color: #dc3545; 
}

.tarea-item span {
    flex: 1;
    text-align: left;
}

  .categoria {
    margin-right: 10px;
    font-weight: bold;
}

.fecha {
    color: #28a745; 
}

.titulo {
    border-bottom: #dc3545 solid 3px;
}

button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   button, button span {
    transition: 200ms;
   }
   
   button .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   button .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   button svg {
    width: 15px;
    fill: #eee;
   }
   
   button:hover {
    background: #ff3636;
   }
   
   button:hover .text {
    color: transparent;
   }
   
   button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   button:focus {
    outline: none;
   }
   
   button:active .icon svg {
    transform: scale(0.8);
   }

   .productos {
    padding-left: 20px;
    font-weight: bold;
   }

   .input {
    background-color: #383838;
    border: 1ex solid none;
    border-top-width: 1.7em;
    margin: 0;
    padding: 0;
    color: #383838;
    word-wrap: break-word;
    outline: 7px solid red;
    height: 30px;
    font-size: 17px;
    text-align: center;
    transition: all 1s;
    width: 400px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    margin-bottom: 10px;
   }
   
   .input:hover {
    border-top-width: 0.2em;
    background-color: #f1e8e8;
   }
   
   .input:focus {
    border-top-width: 0.2em;
    background-color: #f1e8e8;
   }

   .dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
  }
  
  .dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: red;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .dot:last-child {
    margin-right: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: red;
      box-shadow: 0 0 0 0 rgba(190, 25, 25, 0.7);
    }
  
    50% {
      transform: scale(1.2);
      background-color: #6793fb;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
  
    100% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }

  .total {
    padding: 15px 30px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    background: red;
    cursor: pointer;
    color: white;
    box-shadow: 0 0 10px #363636, inset 0 0 10px #363636;
  }
  
  .total:hover {
    animation: a 0.5s 1 linear;
  }
  
  @keyframes a {
    0% {
      transform: scale(0.7, 1.3);
    }
  
    25% {
      transform: scale(1.3, 0.7);
    }
  
    50% {
      transform: scale(0.7, 1.3);
    }
  
    75% {
      transform: scale(1.3, 0.7);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }